* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
@media only screen and (max-width: 1199px) {
  .container {
    padding: 0 5%;
  }
}
